
<div class="wrapp">
  <p class="lead"><b>Transfert de fonds</b></p>
  <hr>
  <div class="form ">
    <div class="inputfield">
      <label>Nom</label>
      <input type="text" class="input">
    </div>
    <div class="inputfield">
      <label>Prénom</label>
      <input type="text" class="input">
    </div>
    <div class="inputfield">
      <label>Code</label>
      <input type="password" class="input">
    </div>
    <div class="inputfield">
      <label>Date</label>
      <input type="date" class="input">
    </div>
    <div class="inputfield">
      <label>Type de transaction</label>
      <div class="custom_select">
        <select>
          <option value="">Select</option>
          <option value="virement">Virement</option>
        </select>
      </div>
    </div>
    <div class="inputfield">
      <label>N° de votre compte</label>
      <input type="text" class="input">
    </div>
    <div class="inputfield">
      <label>N° de bénificiaire</label>
      <input type="text" class="input">
    </div>
    <div class="inputfield">
      <input type="submit" value="Valider" class="btn">
    </div>
  </div>
</div>
