<div class="container-fluid">

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Ajouter un client</h6>

  </div>
  <div class="card-body">
    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="cin-input">CIN du client<span style="color: red">*</span></label>
        <div class="col-md-9">
          <input type="text" id="cin-input" name="cin-input" class="form-control" placeholder="CIN" required>

        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-3">
          <label class="col-form-label" for="nom-input">Nom du client<span style="color: red">*</span></label>
        </div>
        <div class="form-group col-sm-4">
            <input type="text" id="nom-input" name="nom-input" class="form-control" placeholder="Nom" required>
        </div>
        <div class="form-group col-sm-5">
            <input type="text" id="prenom-input" name="email-input" class="form-control" placeholder="Prenom" required >
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="email-input">Email du client<span style="color: red">*</span></label>
        <div class="col-md-9">
          <input type="email" id="email-input" name="email-input" class="form-control" placeholder="Email" autocomplete="email" required>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="password-input">Mot de passe<span style="color: red">*</span></label>
        <div class="col-md-9">
          <input type="password" id="password-input" name="password2-input" class="form-control" placeholder="Mot de passe" autocomplete="current-password" required>

        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="password2-input">Confirmer mot de passe<span style="color: red">*</span></label>
        <div class="col-md-9">
          <input type="password" id="password2-input" name="password2-input" class="form-control" placeholder="Confirmer mot de passe" autocomplete="current-password" required>

        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="date-input">Date de naissance</label>
        <div class="col-md-9">
          <input class="form-control" id="date-input" type="date" name="date-input" placeholder="date de naissance">
        </div>
      </div>



    </form>

  </div>
  <div class="card-footer " style="text-align: center">
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"> Envoyer</a>
  </div>
</div>

</div>

