<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container bootstrap snippets bootdey">
  <div class="row">
    <!-- BEGIN USER PROFILE -->
    <div class="col-md-12">
      <div class="grid profile">

        <div class="grid-body">

          <div class="tab-content">
            <!-- BEGIN PROFILE -->
            <div class="tab-pane active" id="profile">
              <p class="lead"><b>Mon profil</b></p>
              <hr>
              <div class="row">
                <div class="col-md-6">
                  <p><strong>CIN :</strong> ****</p>
                  <p><strong>Nom :</strong> ****</p>
                  <p><strong>Prénom :</strong> ****</p>
                  <p><strong>Date de naissance : </strong> ****</p>

                </div>
                <div class="col-md-6">
                  <p><strong>Code : </strong> ****</p>
                  <p><strong>Type : </strong> ****</p>
                  <p><strong>Téléphone :</strong> (+212) ********</p>
                  <p><strong>Email :</strong> ********</p>

                </div>
              </div>

            </div>
            <!-- END PROFILE -->
          </div>
        </div>
      </div>
    </div>
    <!-- END USER PROFILE -->
  </div>
</div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript">

</script>
