<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container bootstrap snippets bootdey">
  <div class="row">
    <!-- BEGIN USER PROFILE -->
    <div class="col-md-12">
      <div class="grid profile">

        <div class="grid-body">

          <div class="tab-content">
            <!-- BEGIN PROFILE -->
            <div class="tab-pane active" id="profile">
              <p class="lead"><b>Mon profil</b></p>
              <hr>
              <div class="row">
                <div class="col-md-6">
                  <p><strong>CIN :</strong> {{client?.cin}} </p>
                  <p><strong>Nom :</strong> {{client?.nom}} </p>
                  <p><strong>Prénom :</strong> {{client?.prenom}} </p>
                  <p><strong>Date de naissance : </strong> {{client?.date_naissance}} </p>

                </div>
                <div class="col-md-6">
                  <p><strong>Numero de compte: </strong> {{client?.compte?.numCompte}} </p>
                  <p><strong>Téléphone :</strong> {{client?.num_tele}} </p>
                  <p><strong>Email :</strong> {{client?.email}} </p>

                </div>
              </div>

            </div>
            <!-- END PROFILE -->

          </div>
        </div>
      </div>
    </div>
    <!-- END USER PROFILE -->
  </div>
  <div class="row container justify-content-center mt-3">
      <div class="col-sm-8">
        <!-- form card change password -->
        <div class="card">
          <div class="card-header">
              <h4 class="mb-0">Changer le mot de passe</h4>
          </div>
          <div class="card-body">
              <form class="form" role="form" #passwordResetForm="ngForm" (submit)="onPasswordResetFormSubmit(passwordResetForm)" autocomplete="off">
                  <div class="form-group">
                      <label for="old_password">Mot de passe actuel</label>
                      <input type="password" ngModel #old_password="ngModel" name="old_password" class="form-control" id="old_password" required>
                  </div>
                  
                  <div class="form-group">
                      <label for="new_password">Nouveau mot de passe</label>
                      <input type="password" ngModel #new_password="ngModel" name="new_password" class="form-control" id="new_password" required>
                  </div>
                  <div class="form-group">
                      <label for="new_password_verify">Confirmer le Nouveau mot de passe</label>
                      <input type="password" ngModel #new_password_verify="ngModel" name="new_password_verify" class="form-control" id="new_password_verify" required>
                      
                  </div>
                  <div class="form-group">
                      <button type="submit" [disabled]="passwordResetForm.invalid" class="btn btn-success btn-lg float-right">Enregistrer</button>
                  </div>
              </form>
          </div>
          <!-- /form card change password -->
        </div>
      </div>
   </div>
</div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript">

</script>
