<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" >

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">

      <div class="sidebar-brand-text mx-3"> {{agenceNom}} </div>
    </a>
    <hr class="sidebar-divider my-0"><br>
    <div style="text-align: center;color: white">
      <img src="assets/img/undraw_profile.svg" style="width: 160px; align-self: center;">
      <div> {{agentNom}} {{agentPrenom}} </div>
      <div>N° Agent: {{agentCode}}</div>
    </div><br>
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" (click)="changeTitle('Tableau de bord')" routerLink="/agent/home">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Tableau de bord</span></a>
    </li>
    <!-- Nav Item - Dashboard -->
    <li class="nav-item ">
      <a class="nav-link" (click)="changeTitle('Mon profil')" routerLink="./profil" >
        <i class="fas fa-user-circle"></i>
        <span>Mon profil</span></a>
    </li>


    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed"  aria-expanded="true" (click)="changeTitle('Clients')" aria-controls="collapseTwo" routerLink="./clients">
        <i class="fas fa-users"></i>
        <span>Clients</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" (click)="changeTitle('Ajouter un client')" aria-expanded="true" aria-controls="collapseUtilities" routerLink="./add-client">
        <i class="fas fa-user"></i>
        <span>Ajouter un client</span>
      </a>
    </li>
    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed"  aria-expanded="true" (click)="changeTitle('Transactions')" routerLink="./transactions" aria-controls="collapseUtilities">
        <i class="fas fa-exchange-alt"></i>
        <span>Transactions</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed"  aria-expanded="true" (click)="changeTitle('Effectuer un versement')" routerLink="./verse" aria-controls="collapseUtilities">
        <i class="fas fa-long-arrow-alt-right"></i>
        <span>Effectuer un versement</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed"  aria-expanded="true" (click)="open(content)" aria-controls="collapseUtilities">
        <i class="fas fa-sign-out-alt"></i>
        <span> Deconnexion</span>
      </a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle" (click)="toggleSideBar()"></button>
    </div>

  </ul>
  <!-- End of Sidebar -->
  <div id="content-wrapper" class="d-flex flex-column">
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

      <!-- Sidebar Toggle (Topbar) -->
      <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3" >
        <i class="fa fa-bars"></i>
      </button>

      <!-- Topbar Search -->
      <form
        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
          <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                 aria-label="Search" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">
              <i class="fas fa-search fa-sm"></i>
            </button>
          </div>
        </div>
      </form>

      <!-- Topbar Navbar -->
      <div class="mr-5 btn btn-outline-primary" *ngIf="titleAction$ | async as title"> {{title}} </div>
      <button class="btn mr-2 ml-3 " ></button>


    </nav>

  <router-outlet>

  </router-outlet>

  <!-- Content Wrapper -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white " >
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; E-banking 2021</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Deconnexion</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Etes vous sur de vouloir se deconnecter?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn bg-danger text-white ">Se deconnecter</button>
    <button type="button" class="btn btn-outline-dark " (click)="modal.close('Save click')">Quitter</button>
  </div>
</ng-template>

