<nav id="sidebar" [hidden]="showMenu" >
  <div class="p-4 pt-5">
    <div class="title"><h1><a routerLink="accueil" ><strong>E-Client</strong></a></h1></div><br><br>
    <ul class="list-unstyled components mb-5">
      <li routerLink="accueil" routerLinkActive="active">
        <a >Mon compte</a>
      </li>
      <li routerLink="profil" routerLinkActive="active">
        <a>Profil</a>
      </li>
      <li routerLink="virer" routerLinkActive="active">
        <a>Virer</a>
      </li>
      <li routerLink="payer" routerLinkActive="active">
        <a>Payer</a>
      </li>
      <li routerLink="virements" routerLinkActive="active">
        <a>Virements</a>
      </li>
      <li routerLink="versements" routerLinkActive="active">
        <a>Versements</a>
      </li>
      <li routerLink="Listfacturation" routerLinkActive="active">
        <a>Payements</a>
      </li>
    </ul>

    <div class="footer">
      <p>
        Copyright &copy;<script> document.write(new Date().getFullYear().toString());</script> Tous les droits sont réservés  | Programmé par  <i class="icon-heart" aria-hidden="true"></i><strong>4GINF</strong>
      </p>
    </div>
  </div>
</nav>


