.title{
  font-size: 24px;
  font-weight: 700;
  padding: unset;
  text-transform: uppercase;
  text-align: center;
}
strong{
  text-transform: uppercase;
  font-weight: 700;
}
li{
  cursor: pointer;
}
ul li a:hover{
  color: #17a2b8 !important;
}
ul li.active > a {
  color: #17a2b8 !important;
}
