<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid" >
    <button type="button" id="sidebarCollapse" class="btn btn-info"  (click)="toggleMenu()">
      <i class="fa fa-bars"></i>
      <span class="sr-only" ></span>
    </button>

    <button class="btn mr-2 ml-3 btn btn-info" (click)="open(content)" ><i class="fas fa-sign-out-alt"></i></button>

  </div>
</nav>

<!-- Logout Modal-->
<ng-template #content let-modal>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Prêt de sortir?</h5>
        <button class="close" type="button" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Etes vous sur de vouloir se deconnecter?</div>
      <div class="modal-footer">
        <button type="button" class="btn bg-danger text-white " (click)="onLogout()">Oui</button>
        <button type="button" class="btn btn-outline-dark " id="closeModal" (click)="modal.close('Save click')">Non</button>
      </div>
</ng-template>
