<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid" >
    <button type="button" id="sidebarCollapse" class="btn btn-primary"  (click)="toggleMenu()">
      <i class="fa fa-bars"></i>
      <span class="sr-only" ></span>
    </button>

    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="dropdown-item" href="" data-toggle="modal" data-target="#logoutModal"><strong>Se déconnecter</strong></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Prêt de sortir?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Sélectionnez "Déconnexion" ci-dessous si vous êtes prêt à mettre fin à votre session en cours .</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Retour</button>
        <a class="btn btn-primary" href="#login">Déconnexion</a>
      </div>
    </div>
  </div>
</div>
