<nav id="sidebar" xmlns="http://www.w3.org/1999/html">
    <div class="p-4 pt-5">
      <div class="title"><h1><a href="accueil" ><strong>E-Client</strong></a></h1></div><br><br>
      <ul class="list-unstyled components mb-5">
        <li class="active">
          <a href="accueil">Mon compte</a>
        </li>
        <li>
          <a href="profil">Profil</a>
        </li>
        <li>
          <a href="virer">Virer</a>
        </li>
        <li>
          <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Historique</a>
          <ul class="collapse list-unstyled" id="pageSubmenu">
            <li>
              <a href="virements">Virements</a>
            </li>
            <li>
              <a href="versements">Versements</a>
            </li>
            <li>
              <a href="Listfacturation">Payements</a>
            </li>
          </ul>
        </li>
      </ul>

      <div class="footer">
        <p>
          Copyright &copy;<script> document.write(new Date().getFullYear().toString());</script> Tous les droits sont réservés  | Programmé par  <i class="icon-heart" aria-hidden="true"></i><strong>4GINF</strong>
        </p>
      </div>
    </div>
  </nav>

