<nav id="sidebar">
    <div class="p-4 pt-5">
      <div class="title"><h1><a routerLink="accueil" ><strong>E-Client</strong></a></h1></div><br><br>
      <ul class="list-unstyled components mb-5">
        <li class="active">
          <a routerLink="accueil">Mon compte</a>
        </li>
        <li>
          <a routerLink="profil">Profil</a>
        </li>
        <li>
          <a routerLink="virer">Virer</a>
        </li>
        <li>
          <a routerLink="virements">Virements</a>
        </li>
        <li>
          <a routerLink="versements">Versements</a>
        </li>
        <li>
          <a routerLink="Listfacturation">Payements</a>
        </li>
      </ul>

      <div class="footer">
        <p>
          Copyright &copy;<script> document.write(new Date().getFullYear().toString());</script> Tous les droits sont réservés  | Programmé par  <i class="icon-heart" aria-hidden="true"></i><strong>4GINF</strong>
        </p>
      </div>
    </div>
  </nav>


