<div class="container-fluid">

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-info">Nos transactions</h6>
    </div>
    <div class="card-body">
      <form
        class=" form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group" >
          <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                 aria-label="Search" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-info" type="button">
              <i class="fas fa-search fa-sm"></i>
            </button>
          </div>
        </div>
      </form>
      <br>
      <div class="table-responsive">
        <table class="table table-bordered table-sm table-hover " id="dataTable" style="width:100%"  cellspacing="0">
          <thead>
          <th>Id transaction</th>
          <th>Type</th>
          <th>Montant</th>
          <th>Source</th>
          <th>Numéro de compte de beneficiaire</th>
          <th>date</th>
          </thead>

          <tbody *ngFor = "let transaction of transactions">
          <tr>
            <td> {{transaction?.id}} </td>
            <td>{{transaction?.type_transaction}} </td>
            <td class="text-success"> {{transaction?.montant}} </td>
            <td>{{transaction?.nom_verseur}}</td>
            <td>{{transaction?.num_compte}}</td>
            <td>{{transaction?.date_transaction}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
