<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Transactions</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Nos transactions</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" style="width:100%"  cellspacing="0">
          <thead>
          <th>Id transaction</th>
          <th>Type</th>
          <th>Montant</th>
          <th>Source</th>
          <th>Beneficiaire</th>
          <th>date</th>
          </thead>

          <tbody>
          <tr>
            <td>1</td>
            <td>versement</td>
            <td>13.000</td>
            <td>34256324784908475</td>
            <td>5563766890858475</td>
            <td>12/33/2145</td>
          </tr>
          <tr>
            <td>1</td>
            <td>virement</td>
            <td>13.000</td>
            <td>flan ben flan</td>
            <td>5563766890858475</td>
            <td>12/33/2145</td>
          </tr>
          <tr>
            <td>1</td>
            <td>facture</td>
            <td>13.000</td>
            <td>5563766890858475</td>
            <td>(codefacture)</td>
            <td>12/33/2145</td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
