
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdey">
  <div class="row">
    <div class="col-md-12">
      <div class="grid profile">

        <div class="grid-body">
          <p class="lead"><b>Liste des payements</b></p>
          <hr>

          <div class="tab-content">
            <table class="table">
              <thead>
              <th>Date</th>
              <th>Code de facture</th>
              <th>Montant</th>
              </thead>
              <tbody *ngFor = "let transaction of transactions">
                <tr *ngIf = "transaction?.type_transaction === 'payement'">
                  <td data-label="Date"> {{transaction.date_transaction}} </td>
                  <td data-label="Bénificiaire"> {{transaction.code_facture}} </td>
                  <td data-label="Montant" class="text-danger"> -{{transaction.montant_facture}} </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

