<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdey">
  <div class="row">
    <div class="col-md-12">
      <div class="grid profile">

        <div class="grid-body">
          <p class="lead"><b>Liste des versements</b></p>
          <hr>
          <div class="tab-content">
            <table class="table">
              <thead>
                <th>N°</th>
                <th>Date</th>
                <th>Bénificiaire</th>
                <th>Montant</th>
              </thead>
              <tbody *ngFor = "let transaction of transactions">
                <tr>
                  <td data-label="N°">1</td>
                  <td data-label="Date"> {{transaction.date_transaction}} </td>
                  <td data-label="Bénificiaire"> {{transaction.num_compte_beneficiaire}} </td>
                  <td data-label="Montant"> {{transaction.montant}} </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
