<div class="container-fluid">

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Mon profil</h6>

    </div>
    <div class="card-body">
          <!-- Card Body -->
          <div class="card-body align-self-center col-11">
            <div class="form-group row">
              <div class="col-md-3 " >CIN du client :</div>
              <div class="col-md-9">
                 ######
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-3 " >Nom et Prenom :</div>
              <div class="col-md-9">
                643578367
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-3">
                <div class="" >Date de naissance :</div>
              </div>
              <div class="form-group col-sm-9">
                13/6/1980
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-3 " >Email :</div>
              <div class="col-md-9">
                56454@yffg.gh
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-3 col-form-label" >Telephone</div>
              <div class="col-md-9">
                +21234567890
              </div>
            </div>
          </div>
        </div>
      </div>


</div>


