<div class="container-fluid">

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-info">Mon profil</h6>

    </div>
    <div class="card-body">
          <!-- Card Body -->
          <div class="card-body align-self-center col-11">
            <div class="form-group row">
              <div class="col-md-3 " >Code :</div>
              <div class="col-md-9">
                 {{agent?.code_agent}}
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-3 " >CIN :</div>
              <div class="col-md-9">
                {{agent?.cin}}
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-3 " >Nom et Prenom :</div>
              <div class="col-md-9">
                {{agent?.nom}} {{agent?.prenom}}
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-3">
                <div class="" >Date de naissance:</div>
              </div>
              <div class="form-group col-md-9">
                {{agent?.date_naissance}}
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-3 " >Email :</div>
              <div class="col-md-9">
                {{agent?.email}}
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-3 " >Username :</div>
              <div class="col-md-9">
                {{agent?.username}}
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-3 col-form-label" >Téléphone : </div>
              <div class="col-md-9 mt-2">
                {{agent?.num_tele}}
              </div>
            </div>
          </div>
    </div>
  </div>
</div>


