<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container bootstrap snippets bootdey">
  <div class="row">
    <!-- BEGIN USER PROFILE -->
    <div class="col-md-12">
      <div class="grid">

        <div class="grid-body">

          <div class="tab-content">

            <div class="tab-pane active" id="profile">
              <p class="lead"><b>Transfert de fonds</b></p>
              <hr>
              <div class="form">
                <div class="inputfield">
                  <label>N° de compte de bénificiaire</label>
                  <input type="text" class="input">
                </div>
                <div class="inputfield">
                  <label>Le montant à virer</label>
                  <input type="number" class="input">
                </div>
                <div class="inputfield">
                  <input type="submit" value="Valider" class="btn">
                </div>
              </div>

            </div>
            <!-- END PROFILE -->
          </div>
        </div>
      </div>
    </div>
    <!-- END USER PROFILE -->
  </div>
</div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript">

</script>
