<div class="container-fluid">

  <!-- DataTales Example -->
  <div class="card shadow mb-4 cardView" >
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-info">Nos clients</h6>
    </div>
    <div class="card-body">
      <form
        class=" form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group" >
          <input type="text" class="form-control bg-light border-0 small" id="searchFor" placeholder="Search for..."
                 aria-label="Search" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-info" type="button">
              <i class="fas fa-search fa-sm"></i>
            </button>
          </div>
        </div>
      </form>
      <br>
      <div class="table-responsive">
        <table datatable class="table table-sm  table-bordered table-hover my-custom-scrollbar table-wrapper-scroll-y" cellspacing="0">
          <thead>
          <th>Nom</th>
          <th>CIN</th>
          <th>Telephone</th>
          <th>Email</th>
          <th>N° de compte</th>
          <th>Solde</th>
          <th>Status</th>
          <th>Actions</th>
          </thead>

          <tbody *ngFor = "let user of users" id="myTable">
            <tr >
              <td> {{user?.nom}} </td>
              <td> {{user?.cin}} </td>
              <td> {{user?.num_tele}} </td>
              <td> {{user?.email}} </td>
              <td> {{user?.compte?.num_compte}} </td>
              <td> {{user?.compte?.solde}} </td>
              <td>
                <span *ngIf="user?.active && user?.notLocked" class="badge badge-success"> Activé </span>
                <span *ngIf="!user?.active || !user?.notLocked" class="badge badge-danger"> Désactivé </span>
              </td>
              <td>
                <div class="btn-group">
                  <button class="btn btn-sm btn-outline-info" (click)="editUser(user)" (click)="open(content)"><i class="fa fa-edit "></i></button>
                  <button class="btn btn-sm btn-outline-danger" (click)="passUser(user?.id)"  (click)="open(delete)"><i class="fas fa-user-lock"></i></button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Modifier les informations du client</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form #editUserForm="ngForm" class="form-horizontal">
    <div class="modal-body">

        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="cin-input">CIN : <span style="color: red">*</span></label>
          <div class="col-md-8">
            <input type="text" id="cin-input" name="cin" class="form-control" [(ngModel)]="editedUser.cin" required>

          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-4">
            <label class="col-form-label" for="nom-input">Nom et Prénom<span style="color: red">*</span></label>
          </div>
          <div class="form-group col-sm-4">
            <input type="text" [(ngModel)]="editedUser.nom" id="nom-input" name="nom" class="form-control"  placeholder="Nom" required>
          </div>
          <div class="form-group col-sm-4">
            <input type="text" [(ngModel)]="editedUser.prenom" id="prenom-input" name="prenom" class="form-control" placeholder="Prenom" required >
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="email-input">Email<span style="color: red">*</span></label>
          <div class="col-md-8">
            <input type="email" [(ngModel)]="editedUser.email" id="email-input" name="email" class="form-control"  autocomplete="email" required>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="tel-input">Téléphone<span style="color: red">*</span></label>
          <div class="col-md-8">
            <input type="text" id="tel-input" name="num_tele" class="form-control" [(ngModel)]="editedUser.num_tele" placeholder="Telephone" required>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="sold-input">Solde<span style="color: red">*</span></label>
          <div class="col-md-8">
            <input type="text" id="sold-input" disabled name="sold" [(ngModel)]="editedUser.compte.solde" class="form-control" placeholder="Solde"  required>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="date-input">Date de naissance</label>
          <div class="col-md-8">
            <input class="form-control" id="date" type="date" name="date" [(ngModel)]="editedUser.date_naissance">
          </div>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="active"  id="flexRadioDefault1" [(ngModel)]="editedUser.active">
          <label class="form-check-label" for="flexRadioDefault1">
            Activer le compte
          </label>
        </div>

    </div>
    <div class="modal-footer">
      <button type="button" (click)="onUpdateUser()" [disabled]="editUserForm.invalid" class="btn bg-info text-white">Modifier</button>
      <button type="button" class="btn btn-outline-dark " id="editColse" (click)="modal.close('Save click')">Quitter</button>
    </div>
    </form>
  </ng-template>
  <ng-template #delete let-modal>
    <div class="modal-header">
      <h4 class="modal-title" >Bloquer</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Êtes-vous sûr de vouloir bloquer ce compte?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn bg-danger text-white" (click) = "blockUserAccount()">Oui</button>
      <button type="button" class="btn btn-outline-dark " id="closeModal"  (click)="modal.close('Save click')">Non</button>
    </div>
  </ng-template>
</div>
